body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 400px;
    height: 100px;
    background-color: aqua;

    animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes grow {
    0% {
        transform: scaleX(0.2);
    }

    50% {
        transform: scaleX(1.5);
    }

    100% {
        transform: scaleX(0.2);
    }
}