body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 64px;
    width: 100%;
    text-align: center;

    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes move {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 0px;
    }
}