body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 300px;
    height: 300px;
    background-color: red;

    transition-property: background-color border-radius;
    transition-duration: 2s;
}

.rectangle:hover {
    border-radius: 50%;
    background-color: blue;
}